@model List<Eventer.Web.ViewModels.EventViewModel>

<!--SLIDER-->
<div id="slider">
    <ul class="slides">
        <li>
            <div class="sliderInfo">
                <a class="sliderTitle" href="#">Party Like It&#8217;s 2017</a><br />
                <div class="sliderDate">12.25.2017</div>
            </div>
            <img width="900" height="350" src="http://lorempixel.com/900/350" alt="slide-1" />
        </li>
    </ul>
</div><!--end slider-->

<!--TAGLINE-->
<div id="tagLine">Welcome to the party. <a href="/">eventer</a> is the way to find your place!</div>

<!--FILTER-->
<div id="filter" class="blackBar">
    <ul>
        <li><a class="active allEvents" href="#">All events</a></li>
        @foreach (var c in ViewBag.cats)
        {
            <li class="cat-item cat-item-@c.Id"><a class="active" href="#">@c.Name</a></li>
        }
    </ul>
</div><!--end filter-->
<!--DATE LIST-->
<ul id="dateList">
    @foreach (var e in Model)
    {
        <li class="box postEvent cat-item-@e.Category.Id">
            <a href="/Events/Show/@e.Date.Month-@e.Date.Day-@e.Date.Year/@e.Slug">
                <span class="theDay">@e.Date.Day.@e.Date.Month</span><br />
                <p class="theTitle">
                    <span>@e.Date.Hour:@e.Date.Minute</span><br />
                    @e.Title
                </p>
            </a>
        </li>
    }
    <li class="box" id="theEnd">The End.</li>
</ul><!--end date list-->