@using Eventer.Web.Infrastructure.Common
@model List<Eventer.Web.ViewModels.EventViewModel>

<!--SLIDER-->
<div id="slider">
    <ul class="slides">
        <li>
            <div class="sliderInfo">
                <a class="sliderTitle" href="#">Party Like It&#8217;s 2017</a><br />
                <div class="sliderDate">12.25.2017</div>
            </div>
            <img width="900" height="350" src="http://lorempixel.com/900/350" alt="slide-1" />
        </li>
    </ul>
</div><!--end slider-->
<!--TAGLINE-->
<div id="tagLine">
    Welcome to the party. <a href="/">@Config.AppName</a> is the way to find your place!
</div>

@Html.Partial("Home/_Calendar")