<!--SLIDER-->
<div id="slider">
    <ul class="slides">
        <li>
            <div class="sliderInfo">
                <a class="sliderTitle" href="#">Party Like It&#8217;s 2017</a><br />
                <div class="sliderDate">12.25.2017</div>
            </div>
            <img width="900" height="350" src="http://lorempixel.com/900/350" alt="slide-1" />
        </li>
    </ul>
</div><!--end slider-->

<!--TAGLINE-->
<div id="tagLine">Welcome to the party. @Html.ActionLink("eventer", "Index", "Home") is the way to find your place!</div>

<!--FILTER-->
<div id="filter" class="blackBar">
    <ul>
        <li><a class="active" href="#">Events</a></li>
        <li>
            <a href="#">Concerts</a>
        </li>
    </ul>
</div><!--end filter-->

<!--DATE LIST-->
<ul id="dateList">
    <li class="box monthYear">
        <a class="dateLink" href="#">
            <span>Jun</span><br />
            2015
        </a>
    </li>
    <li class="box">
        <a href="#">
            <span class="theDay">02</span><br />
            <p class="theTitle">
                <span>Tue @@ 4:42 am</span><br />
                How To Be Better Than You
            </p>
        </a>
    </li>
    <li class="box" id="theEnd">The End.</li>
</ul><!--end date list-->