<div id="commentsection">
    <div class="navigation">
        <div class="alignleft"></div>
        <div class="alignright"></div>
    </div>

    <!--IF COMMENTS ARE OPEN-->
    <div id="respond">

        <h3>Leave a Comment</h3>

        @if (Context.User.Identity.IsAuthenticated)
        {
            using (Ajax.BeginForm("PostComment", "Events", new {EventId = Model.Id}, new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "loadComments",
                InsertionMode = InsertionMode.InsertBefore
            }))
            {
                @Html.AntiForgeryToken()
                <p>
                    <textarea name="Text" id="comment" cols="100%" rows="10" tabindex="1"></textarea>
                </p>
                <p>
                    <input name="submit" type="submit" id="submit" tabindex="2" value="Post comment"/>
                    <input type='hidden' name='EventId' value="@Model.Id"/>
                </p>
            }
        }
        else
        {
            <div class="alert alert-warning">@Html.ActionLink("Log in", "Login", "Account", new {@class = "alert-link"}) to post a comment.</div>
        }

    </div>
    <!--end respond-->
</div>